.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;

  color: black;
}



.product_single {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fffefe;  
  border: 2px solid #ddd;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

.product_single > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px 0;
 
}

.pagination > span {
  padding: 10px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  cursor: pointer;
 
}
.selected_page {
  background-color: #ffffff;
  color: rgb(204, 178, 178);
}
.hidden {
  display: none;
}

.download {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}